@import "tailwindcss";
<link
  href="https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap"
  rel="stylesheet"
/>


.active{
  background-color: #ffebf5;
  border-color: #C586A5;
}


*{
  font-family: "Outfit";
}