@import "tailwindcss";

a.active hr{
      display: block
}

@layer utilities {
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
}

::-webkit-scrollbar{
      display: none;
}

@media (max-width:640px){
      a.active {
            background-color: black;
            color:white;
      }
}